<p class="text-center display-5 fw-bold ">Выбрать тип стекла</p>

<div class="card-group row mt-5">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <h5 class="text-center card-title">Лобовое стекло</h5>
        <a href="/ShopItem/Index/1"><img src="/img/TitelGlass.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="/ShopItem/Index/1" type="button" class="btn btn-primary btn-lg">Смотреть лобовые стекла</a>
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-body rounded ms-1">
        <h5 class="text-center card-title">Боковое стекло</h5>
        <a href="/ShopItem/Index/2"><img src="/img/Side.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="/ShopItem/Index/2" type="button" class="btn btn-primary btn-lg">Смотреть боковые стекла</a>
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-body rounded ms-1">
        <h5 class="text-center card-title">Заднее стекло</h5>
        <a href="/ShopItem/Index/3"><img src="/img/back.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="/ShopItem/Index/3" type="button" class="btn btn-primary btn-lg">Смотреть заднии стекла</a>
        </div>
    </div>
</div>



<div class="shadow-sm p-3 mb-5 bg-body rounded">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-semibold lh-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Быстрая замена стекла,</font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> </font>на любом виде транспорта.</font></span></h2>
            <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">✓ Мы тщательно зачищаем рамку авто и используем только качественные материалы, благодаря этому машиной можно пользоваться сразу после установки. </font><font style="vertical-align: inherit;"></font></font></p>
            <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">✓ Мы даем гарантию на установку и принимаем все необходимые меры вплоть до полной переустановки стекла.</font><font style="vertical-align: inherit;"></font></font></p>
            <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">✓ Имеем тысячи довольных клиентов</font><font style="vertical-align: inherit;"></font></font></p>
        </div>

        <div class="col-md-5">
            <img src="img/zamena2.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5 order-md-2">
            <h2 class="featurette-heading fw-semibol lh-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Широкий ассортимент, </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">на все модели</font></font></span></h2>
            <p class="lead"><font style="vertical-align: inherit;">✓Стекла всех видов на любой автомобиль (от трактора до легкового авто), по лучшей цене<font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;"></font></font></p>
            <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">✓Большой выбор производителей стекла</font><font style="vertical-align: inherit;"></font></font></p>
            <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">✓В налиичии стекла практически на каждый автомобиль</font><font style="vertical-align: inherit;"></font></font></p>
        </div>

        <div class="col-md-5 order-md-1">
            <img src="/img/Vibor1.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">
    <h2 class="featurette-heading fw-semibol lh-3 text-center"><span class="text-muted"><font style="vertical-align: inherit;">Для покупки продукции или замены стекла</font></span></h2>


    <p class="lead">
        <font style="vertical-align: inherit;">
            Вы можете оформить заказ через сайт и получить подтверждение заказа.
            <br> Или оформить заказ позвонив по телефону <strong>+7(903)-644-44-40</strong>. Вы можете оставить заявку на подбор стекла - менеджер вам перезвонит и поможет зафиксировать детали заказа.
        </font>
    </p>
</div>


<img class="img-fluid" src="/img/downV.png">


<div class="card-group row mt-5 ">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <h5 class="text-center card-title">Лобовое стекло</h5>
        <a href="/ShopItem/Index/1"><img src="/img/TitelGlass.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="/ShopItem/Index/1" type="button" class="btn btn-primary btn-lg">Смотреть лобовые стекла</a>
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-body rounded ms-1">
        <h5 class="text-center card-title">Боковое стекло</h5>
        <a href="/ShopItem/Index/2"><img src="/img/Side.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="/ShopItem/Index/2" type="button" class="btn btn-primary btn-lg">Смотреть боковые стекла</a>
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-body rounded ms-1">
        <h5 class="text-center card-title">Заднее стекло</h5>
        <a href="/ShopItem/Index/3"><img src="/img/back.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="/ShopItem/Index/3" type="button" class="btn btn-primary btn-lg">Смотреть заднии стекла</a>
        </div>
    </div>
</div>
  

