


<div class="card-group row mt-5">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <h5 class="text-center card-title">Лобовое стекло</h5>
        <a href="/ShopItem/Index/1"><img src="/img/TitelGlass.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="/ShopItem/Index/1" type="button" class="btn btn-primary btn-lg">Смотреть лобовые стекла</a>
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-body rounded ms-1">
        <h5 class="text-center card-title">Боковое стекло</h5>
        <a href="/ShopItem/Index/3"><img src="/img/Side.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="/ShopItem/Index/3" type="button" class="btn btn-primary btn-lg">Смотреть боковые стекла</a>
        </div>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-body rounded ms-1">
        <h5 class="text-center card-title">Заднее стекло</h5>
        <a href="/ShopItem/Index/2"><img src="/img/back.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="/ShopItem/Index/2" type="button" class="btn btn-primary btn-lg">Смотреть заднии стекла</a>
        </div>
    </div>
</div>
