


<div class="bg-light p-5 rounded py-3 mb-4">
    <h1>Заявка успешно создана</h1>
    <p class="lead"> Ваш заказ успешно создан, ожидайте звонка от менеджера.</p>
    <a class="btn btn-success" href="/" role="button">Вернуться на главную</a>
</div>
